Repository chidozieononiwu/azure-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/azure-mcp, @Azure/azure-sdk-eng, @jongio, @JonathanCrd, @conniey, @g2vinay, @sajeetharan, @xiangyan99, @wbreza, @ArthurMa1978, @jayzzh, @weng5e, @vcolin7, @jayanthjj, @pachaturevedi, @danield137, @meirloichter, @smritiy, @srnagar, @kk-src, @shreyaaithal, @maxluk, @pablocastro, @anuchandy, @philon-msft, @alzimmermsft, @vurhanau, @nishtha489, @knarayanana, @krchanda, @johnsta, @vladimisms

Enable Native AOT build (#914)
  Directory.Build.props
  core/src/AzureMcp.Cli/AzureMcp.Cli.csproj
  core/src/AzureMcp.Cli/Program.cs
  eng/scripts/Test-Code.ps1
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

Add azmcp-storage-queue-message-send command (#794)
  .vscode/cspell.json
  CHANGELOG.md
  Directory.Packages.props
  README.md
  areas/storage/src/AzureMcp.Storage/AzureMcp.Storage.csproj
  areas/storage/src/AzureMcp.Storage/Commands/Queue/BaseQueueCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Queue/Message/QueueMessageSendCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Models/QueueMessageSendResult.cs
  areas/storage/src/AzureMcp.Storage/Options/Queue/BaseQueueOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/Queue/Message/QueueMessageSendOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Queue/Message/QueueMessageSendCommandTests.cs
  areas/storage/tests/test-resources.bicep
  docs/azmcp-commands.md
  e2eTests/e2eTestPrompts.md
Owners: @Azure/azure-mcp, @alzimmermsft, @jongio, @xiangyan99

Tool list testcase (#873)
  core/tests/AzureMcp.Core.UnitTests/Areas/Tools/UnitTests/ToolsListCommandTests.cs
Owners: @Azure/azure-mcp

Let Build-* scripts stop on error (#917)
  eng/scripts/Build-Local.ps1
  eng/scripts/Build-Module.ps1
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

Add azmcp storage account create comand (#927)
  .vscode/cspell.json
  CHANGELOG.md
  README.md
  areas/storage/src/AzureMcp.Storage/Commands/Account/AccountCreateCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Options/Account/AccountCreateOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Account/AccountCreateCommandTests.cs
  docs/azmcp-commands.md
  e2eTests/e2eTestPrompts.md
  eng/vscode/README.md
Owners: @Azure/azure-mcp, @alzimmermsft, @jongio, @xiangyan99, @Azure/azure-sdk-eng

Add native AOT compile verification (#920)
  eng/pipelines/templates/jobs/build.yml
  eng/scripts/Build-Module.ps1
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

update Bicep Telemetry to use AddTag instead of SetTag (#941)
  areas/bicepschema/src/AzureMcp.BicepSchema/Commands/BicepSchemaGetCommand.cs
Owners: @Azure/azure-mcp

Add azmcp-storage-blob-details command (#930)
  CHANGELOG.md
  areas/storage/src/AzureMcp.Storage/Commands/Blob/BaseBlobCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Blob/BlobDetailsCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Options/Blob/BaseBlobOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/Blob/BlobDetailsOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Blob/BlobDetailsCommandTests.cs
  docs/azmcp-commands.md
  e2eTests/e2eTestPrompts.md
Owners: @Azure/azure-mcp, @alzimmermsft, @jongio, @xiangyan99

Mark create and set operations to destructive = true (#773)
  CHANGELOG.md
  areas/appconfig/src/AzureMcp.AppConfig/Commands/KeyValue/KeyValueSetCommand.cs
  areas/keyvault/src/AzureMcp.KeyVault/Commands/Certificate/CertificateCreateCommand.cs
  areas/keyvault/src/AzureMcp.KeyVault/Commands/Key/KeyCreateCommand.cs
  areas/keyvault/src/AzureMcp.KeyVault/Commands/Secret/SecretCreateCommand.cs
  areas/loadtesting/src/AzureMcp.LoadTesting/Commands/LoadTest/TestCreateCommand.cs
  areas/loadtesting/src/AzureMcp.LoadTesting/Commands/LoadTestResource/TestResourceCreateCommand.cs
  areas/loadtesting/src/AzureMcp.LoadTesting/Commands/LoadTestRun/TestRunCreateCommand.cs
  areas/loadtesting/src/AzureMcp.LoadTesting/Commands/LoadTestRun/TestRunUpdateCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/DataLake/Directory/DirectoryCreateCommand.cs
  areas/workbooks/src/AzureMcp.Workbooks/Commands/Workbooks/CreateWorkbooksCommand.cs
Owners: @Azure/azure-mcp, @JonathanCrd, @conniey, @vcolin7, @nishtha489, @knarayanana, @krchanda, @johnsta, @alzimmermsft, @jongio, @xiangyan99

add config to convert to extension pack (#929)
  eng/vscode/package.json
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

Add azmcp-storage-blob-container-create command (#937)
  CHANGELOG.md
  areas/storage/src/AzureMcp.Storage/Commands/Blob/BlobDetailsCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Blob/Container/ContainerCreateCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Options/Blob/Container/ContainerCreateOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Blob/Container/ContainerCreateCommandTests.cs
  docs/azmcp-commands.md
  e2eTests/e2eTestPrompts.md
Owners: @Azure/azure-mcp, @alzimmermsft, @jongio, @xiangyan99

Update contributing.md and PR template to suggest submitting one tool per PR (#932)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Catch all
##################
*                                      @Azure/azure-mcp

##################
# Eng Sys
##################
/eng/                                  @Azure/azure-mcp @Azure/azure-sdk-eng
/.github/                              @Azure/azure-mcp @Azure/azure-sdk-eng
/.config/                              @Azure/azure-mcp @Azure/azure-sdk-eng

##################
# Services
##################
# PRLabel: %area-AKS
/areas/aks/                            @jongio @Azure/azure-mcp

# ServiceLabel: %area-AKS
# ServiceOwners:                       @jongio


# PRLabel: %area-AppConfig
/areas/appconfig/                      @JonathanCrd @conniey @Azure/azure-mcp

# ServiceLabel: %area-AppConfig
# ServiceOwners:                       @shenmuxiaosen @avanigupta


# PRLabel: %area-BestPractices
/areas/azurebestpractices/             @g2vinay @conniey @Azure/azure-mcp

# ServiceLabel: %area-BestPractices
# ServiceOwners:                       @g2vinay @conniey


# PRLabel: %area-CosmosDB
/areas/cosmos/                         @sajeetharan @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-CosmosDB
# ServiceOwners:                       @sajeetharan @xiangyan99


# PRLabel: %area-Azd
/areas/extension/                      @wbreza @jongio @Azure/azure-mcp

# ServiceLabel: %area-Azd
# ServiceOwners:                       @wbreza @jongio


# PRLabel: %area-ARM
/areas/group/                          @ArthurMa1978 @jongio @Azure/azure-mcp

# ServiceLabel: %area-ARM
# ServiceOwners:                       @ArthurMa1978

# PRLabel: %area-Foundry
/areas/foundry/                        @jayzzh @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Foundry
# ServiceOwners:                       @jayzzh @xiangyan99

# PRLabel: %area-Grafana
/areas/grafana/                        @weng5e @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Grafana
# ServiceOwners:                       @weng5e @xiangyan99

# PRLabel: %area-KeyVault
/areas/keyvault/                       @vcolin7 @JonathanCrd @Azure/azure-mcp

# ServiceLabel: %area-KeyVault
# ServiceOwners:                       @vcolin7 @JonathanCrd

# PRLabel: %area-ISV
/areas/azureisv/                       @jayanthjj @pachaturevedi

# ServiceLabel: %area-ISV
# ServiceOwners:                       @jayanthjj @pachaturevedi

# PRLabel: %area-Kusto
/areas/kusto/                          @danield137 @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Kusto
# ServiceOwners:                       @danield137


# PRLabel: %area-Marketplace
/areas/marketplace/                    @meirloichter @Azure/azure-mcp

# ServiceLabel: %area-Marketplace
# ServiceOwners:                       @meirloichter


# PRLabel: %area-Monitor
/areas/monitor/                        @smritiy @srnagar @jongio @Azure/azure-mcp

# ServiceLabel: %area-Monitor
# ServiceOwners:                       @smritiy @srnagar @jongio


# PRLabel: %area-Postgres
/areas/postgres/                       @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Postgres
# ServiceOwners:                       @kk-src @shreyaaithal @maxluk


# PRLabel: %area-Search
/areas/search/                         @pablocastro @jongio @Azure/azure-mcp

# ServiceLabel: %area-Search
# ServiceOwners:                       @pablocastro


# PRLabel: %area-ServiceBus
/areas/servicebus/                     @anuchandy @conniey @Azure/azure-mcp

# ServiceLabel: %area-ServiceBus
# ServiceOwners:                       @shankarsama @EldertGrootenboer

# PRLabel: %area-Redis
/areas/redis/                          @philon-msft @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Redis
# ServiceOwners:                       @philon-msft @carldc

# PRLabel: %area-Storage
/areas/storage/                        @alzimmermsft @jongio @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Storage
# ServiceOwners:                       @alzimmermsft  @jongio

# PRLabel: %area-Authorization
/areas/authorization/                  @vurhanau @jongio @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Authorization
# ServiceOwners:                       @vurhanau

# PRLabel: %area-LoadTesting
/areas/loadtesting/                    @nishtha489 @knarayanana @krchanda @johnsta @Azure/azure-mcp

# ServiceLabel: %area-LoadTesting
# ServiceOwners:                       @nishtha489 @knarayanana @krchanda @johnsta

# PRLabel: %area-VirtualDesktop
/areas/VirtualDesktop/                 @vladimisms @Azure/azure-mcp

# ServiceLabel: %area-VirtualDesktop
# ServiceOwners:                       @vladimisms
